* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-adjust: exact !important;
  -webkit-print-color-adjust: exact !important;
}

:root {
  padding-top: var(--navHeight);

  --navHeight: 3rem;
  --active-color: rgb(70, 136, 236);
  --secondary-color: #f1f1f1;
  --light-grey-color: rgb(240,240,240);
  --disabled-color: rgb(165,165,165);
  --option-height: 1.15rem;
  --option-pad: 0.1rem;

  --block-width: 90mm;
  --block-sublime-width: 85.4mm;
  --block-height: 57mm;
  --block-sublime-height: 53.85mm;
  --page-width: 203mm;
  --page-height: 288mm;
  --page-margin-top: 3mm;
  --page-half-width: var(--page-width) / 2;

  --cross-size: 5mm;
  --cross-line-width: 0.5mm;
  --cross-pos-from-middle: 97mm;
  --top-cross-vert-pos: 50mm;
  --bottom-cross-vert-pos: 260mm;

  --light-mark-radius: 1.3mm;
  --light-mark-line-width: 0.1mm;
  --topleft-light-mark-top: 59.8mm;
  --topleft-light-mark-from-middle: 96.8mm;
  --topright-light-mark-top: 57.1mm;
  --topright-light-mark-from-middle: 96.8mm;
  --bottomleft-light-mark-top: 230.3mm;
  --bottomleft-light-mark-from-middle: 97mm;
  --bottomright-light-mark-top: 227.8mm;
  --bottomright-light-mark-from-middle: 96.7mm;

  --magnetic-stripe-marker-from-top: 7mm;
  --magnetic-stripe-marker-from-block: 3mm;
  --magnetic-stripe-marker-width: 4.5mm;
  --magnetic-stripe-marker-height: 0.25mm;
  --magnetic-stripe-width: 12.5mm;

  --space-between-columns: 8mm;
  --left-column-pos-left: calc(
    var(--page-width) / 2 - var(--space-between-columns) / 2 -
      var(--block-width)
  );
  --left-column-pos-top: calc(
    (var(--page-height) - (var(--block-height) * 5)) / 2
  );
  --right-column-pos-left: calc(
    var(--left-column-pos-left) + var(--space-between-columns) +
      var(--block-width)
  );
  --right-column-pos-top: var(--left-column-pos-top);
}

nav {
  width: 100%;
  background-color: rgb(200, 200, 200);
  height: var(--navHeight);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 999999;
}

nav .nav-links {
  flex-grow: 1;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  gap: 3rem;
}

nav .nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

nav .nav-links a:hover {
  color: var(--active-color);
}

nav .nav-links a.active {
  color: var(--active-color);
  text-decoration: underline;
}

.print-setting {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: var(--secondary-color);
  display: flex;
}

.tab button {
  flex-grow: 1;
  background-color: inherit;
  color: gray;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: var(--active-color);
  color: gray;
}

.tab button.active {
  background-color: var(--active-color);
  color: white;
}

.tab-content {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em
}

.tab-content button {
  padding: 0.3em;
  margin: 5px;
  min-width: 3em;
  background-color: white;
  border-radius: 6px;
}

.picker-wrapper .as-button {
  padding: 0.3em;
  margin: 5px;
  min-width: 3em;
  color: black;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  font-family: Arial;
  font-size: 0.85rem;
  cursor: default;
}

.picker-wrapper {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid gray;
}

.dynamic-pickers-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.page-number {
  position: absolute;
  top: 1mm;
  width: 8mm;
  text-align: center;
  left: calc(var(--page-width) / 2 - 4mm);
}

.page {
  position: relative;
  page-break-after: always;
  page-break-inside: avoid;
}

.page.page-grid-10-cards {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0 auto;
}

.page.page-for-sublime {
  width: var(--block-sublime-width);
  height: var(--block-sublime-height);
  margin: 0 auto;
}

.column {
  position: absolute;
}

.left-column {
  top: var(--left-column-pos-top);
  left: var(--left-column-pos-left);
}

.right-column {
  top: var(--right-column-pos-top);
  left: var(--right-column-pos-left);
}

.block {
  position: relative;
}

.grid-block {
  width: var(--block-width);
  height: var(--block-height);
  border: 1px solid black;
}

.sublime-block {
  width: var(--block-sublime-width);
  height: var(--block-sublime-height);
  border: 1px solid black;
  border-radius: 3.18mm;
}

.block .selected {
  outline: auto;
}

.page-for-sublime .block .card-image {
  display: none;
}

.block .card-image {
  max-width: 100%;
}

.block .numbering,
.block .barcode,
.block .qrcode {
  position: absolute;
  z-index: 999;
}

.light-mark {
  position: absolute;
  width: calc(var(--light-mark-radius) * 2);
  height: calc(var(--light-mark-radius) * 2);
  border: solid black var(--light-mark-line-width);
  border-radius: 50%;
}

.top-left-lm {
  top: calc(var(--topleft-light-mark-top) - var(--light-mark-radius));
  left: calc(
    var(--page-half-width) - var(--topleft-light-mark-from-middle) -
      var(--light-mark-radius)
  );
}

.bottom-left-lm {
  top: calc(var(--bottomleft-light-mark-top) - var(--light-mark-radius));
  left: calc(
    var(--page-half-width) - var(--bottomleft-light-mark-from-middle) -
      var(--light-mark-radius)
  );
}

.top-right-lm {
  top: calc(var(--topright-light-mark-top) - var(--light-mark-radius));
  left: calc(
    var(--page-half-width) + var(--topright-light-mark-from-middle) -
      var(--light-mark-radius)
  );
}

.bottom-right-lm {
  top: calc(var(--bottomright-light-mark-top) - var(--light-mark-radius));
  left: calc(
    var(--page-half-width) + var(--bottomright-light-mark-from-middle) -
      var(--light-mark-radius)
  );
}

.cross,
.cross::after {
  background-color: black;
}

.cross {
  position: absolute;
  width: var(--cross-size);
  height: var(--cross-line-width);
}

.cross::after {
  position: absolute;
  content: '';
  top: calc(var(--cross-size) / -2 + var(--cross-line-width) / 2);
  left: calc(var(--cross-size) / 2 - var(--cross-line-width) / 2);
  min-height: var(--cross-size);
  min-width: var(--cross-line-width);
}

.top-cross {
  top: calc(var(--top-cross-vert-pos) - var(--cross-line-width) / 2);
}

.bottom-cross {
  top: calc(var(--bottom-cross-vert-pos) - var(--cross-line-width) / 2);
}

.left-cross {
  left: calc(
    var(--page-half-width) - var(--cross-pos-from-middle) - var(--cross-size) /
      2
  );
}

.right-cross {
  left: calc(
    var(--page-half-width) + var(--cross-pos-from-middle) - var(--cross-size) /
      2
  );
}

.left-column .block::after {
  content: '';
  width: var(--magnetic-stripe-marker-width);
  height: var(--magnetic-stripe-marker-height);
  background-color: black;
  position: absolute;
  top: var(--magnetic-stripe-marker-from-top);
  left: calc(
    (
        var(--magnetic-stripe-marker-from-block) +
          var(--magnetic-stripe-marker-width)
      ) * -1
  );
}

.left-column .block::before {
  content: '';
  width: var(--magnetic-stripe-marker-width);
  height: var(--magnetic-stripe-marker-height);
  background-color: black;
  position: absolute;
  top: calc(
    var(--magnetic-stripe-marker-from-top) + var(--magnetic-stripe-width)
  );
  left: calc(
    (
        var(--magnetic-stripe-marker-from-block) +
          var(--magnetic-stripe-marker-width)
      ) * -1
  );
}

.right-column .block::after {
  content: '';
  width: var(--magnetic-stripe-marker-width);
  height: var(--magnetic-stripe-marker-height);
  background-color: black;
  position: absolute;
  top: var(--magnetic-stripe-marker-from-top);
  left: calc(var(--magnetic-stripe-marker-from-block) + var(--block-width));
}

.right-column .block::before {
  content: '';
  width: var(--magnetic-stripe-marker-width);
  height: var(--magnetic-stripe-marker-height);
  background-color: black;
  position: absolute;
  top: calc(
    var(--magnetic-stripe-marker-from-top) + var(--magnetic-stripe-width)
  );
  left: calc(var(--magnetic-stripe-marker-from-block) + var(--block-width));
}

.option-element{
  display: flex;
  align-items: center;
  height: var(--option-height);
  padding: var(--option-pad);
  padding-left: calc(var(--option-pad)*2);
  font-family: monospace;
  font-size: 0.8rem;
  user-select: none
}

.option-element:nth-child(2n){
  background-color: var(--light-grey-color);
}

.option-element.option-selected{
  background-color: var(--active-color);
  color:white
}

.select-input{
  width: 100%;
  font-family: 'monospace';
  box-shadow: 0 0 1px 0 black;
}

.select-disabled{
  color:var(--disabled-color)
}

.select-disabled .option-selected{
  background-color: var(--disabled-color)
}